<template>

    <div class="prophet-resource-package">
        <div class="resources-popup">
            <a data-toggle="modal" data-target="#individual "
               class="btn btn-prophet-soft btn-sm btn-block" style="color: white;">View <i
                    class="far fa-eye"></i></a>

            <div>
                <!-- Individual Modal -->
                <div class="modal fade cards" name="individual" ref="individual" id="individual" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body" >
                                <div class="container " style="overflow: scroll;">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="button-panel background button-panel-individual"></div>
                                            <div class="button-panel button-panel-individual">
                                                <div class="">
                                                    <a class="nav-button"
                                                       @click="lastSlide('individual')"><i class="fas fa-backward"></i>
                                                    </a>
                                                    <a class="nav-button"
                                                       @click="nextSlide('individual')"><i class="fas fa-forward"></i>
                                                    </a>

                                                    <a class="nav-button"
                                                       @click="showKeycardsMenuButtons =!showKeycardsMenuButtons"><i
                                                            class="fas fa-bars"></i> Contents
                                                    </a>
                                                    <a class="nav-button close-button " data-dismiss="modal"><i
                                                            class="fas fa-times"></i></a>
                                                </div>
                                            </div>
                                            <transition name="fade" appear>
                                                <div v-if="showKeycardsMenuButtons" class="menu-panel  offset-8 col-3">
                                                    <div class="btn-group-vertical btn-block menu-panel-buttons">
                                                        <button @click="showSlide('individual',1)"
                                                                class="btn btn-outline-prophet menu-button">Title
                                                        </button>
                                                        <button @click="showSlide('individual',2)"
                                                                class="btn btn-outline-prophet menu-button">Introduction
                                                        </button>
                                                        <button @click="showSlide('individual',3)"
                                                                class="btn btn-outline-prophet menu-button">Introduction to<br/>the Profile
                                                        </button>
                                                        <button @click="showSlide('individual',4)"
                                                                class="btn btn-outline-prophet menu-button">Motivations
                                                        </button>
                                                        <button @click="showSlide('individual',5)"
                                                                class="btn btn-outline-prophet menu-button">Decision-making<br/>Styles
                                                        </button>
                                                        <button @click="showSlide('individual',6)"
                                                                class="btn btn-outline-prophet menu-button">Inclinations
                                                        </button>
                                                        <button @click="showSlide('individual',7)"
                                                                class="btn btn-outline-prophet menu-button">PROPHET<br/>Role
                                                            Schema
                                                        </button>
                                                        <button @click="showSlide('individual',8)"
                                                                class="btn btn-outline-prophet menu-button">Appendix
                                                        </button>
                                                        <br/>
                                                        <button @click="showKeycardsMenuButtons = false"
                                                                class="btn btn-outline-prophet menu-button close-button">Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </transition>

                                            <div class="text-center" @click="nextSlide('individual')">
                                                <div class="slide-progress">{{currentSlideIndividual}}</div>
                                                <img class="img-fluid" v-if="currentSlideIndividual==1"
                                                     src="https://resources.prophet-profile.com/img/keycards/debrief/debrief1.png" key="slide1">
                                                <img class="img-fluid" v-if="currentSlideIndividual==2"
                                                     src="https://resources.prophet-profile.com/img/keycards/debrief/debrief2.png" key="slide2">
                                                <img class="img-fluid" v-if="currentSlideIndividual==3"
                                                     src="https://resources.prophet-profile.com/img/keycards/debrief/debrief3.png" key="slide3">
                                                <img class="img-fluid" v-if="currentSlideIndividual==4"
                                                     src="https://resources.prophet-profile.com/img/keycards/debrief/debrief4.png" key="slide4">
                                                <img class="img-fluid" v-if="currentSlideIndividual==5"
                                                     src="https://resources.prophet-profile.com/img/keycards/debrief/debrief5.png" key="slide5">
                                                <img class="img-fluid" v-if="currentSlideIndividual==6"
                                                     src="https://resources.prophet-profile.com/img/keycards/debrief/debrief6.png" key="slide6">
                                                <img class="img-fluid" v-if="currentSlideIndividual==7"
                                                     src="https://resources.prophet-profile.com/img/keycards/debrief/debrief7.png" key="slide7">
                                                <img class="img-fluid" v-if="currentSlideIndividual==8"
                                                     src="https://resources.prophet-profile.com/img/keycards/debrief/debrief8.png" key="slide8">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "KeycardsDebrief",
        data: function () {
            return {
                currentSlideKeycards: 1,
                currentSlideIndividual: 1,
                showKeycardsMenuButtons: false,
            }
        },
        methods: {
            showSlide: function (type, index) {
                if (type == 'keycards') {
                    this.currentSlideKeycards = index
                    this.showKeycardsMenuButtons = false
                } else {
                    this.currentSlideIndividual = index
                }

            },
            nextSlide: function (type) {
                if (this.showKeycardsMenuButtons) {
                    this.showKeycardsMenuButtons = false
                    return
                }

                if (type == 'keycards') {
                    if (this.currentSlideKeycards == 9) {
                        this.currentSlideKeycards = 1
                    } else {
                        this.currentSlideKeycards++
                    }
                } else {
                    if (this.currentSlideIndividual == 8) {
                        this.currentSlideIndividual = 1
                    } else {
                        this.currentSlideIndividual++
                    }
                }

            },
            lastSlide: function (type) {
                if (type == 'keycards') {
                    if (this.currentSlideKeycards == 1) {
                        this.currentSlideKeycards = 9
                    } else {
                        this.currentSlideKeycards--
                    }
                } else {
                    if (this.currentSlideIndividual == 1) {
                        this.currentSlideIndividual = 8
                    } else {
                        this.currentSlideIndividual--
                    }
                }

            },
        }
    }
</script>
